

<ion-list>
    <ion-item fill="clear"    lines="none" *ngFor="let button of navbar_menus" >
        <ion-button id="click-{{ button.name }}" *ngIf="button.ocom_menus_children" >
            <ion-icon  name="chevron-towords-outline"></ion-icon>
            <ion-label>{{ button.name }}</ion-label>
        </ion-button>
        <ion-popover
        trigger="click-{{ button.name }}"
        triggerAction="click"
        *ngIf="button.ocom_menus_children" size="auto" animated arrow>
            <ng-template >
                <app-nav-bar-links-menu [navbar_menus]="button.ocom_menus_children"></app-nav-bar-links-menu>
            </ng-template>
        </ion-popover>
        <ion-button href="{{button.href}}"  *ngIf="!button.ocom_menus_children" >
            
            <ion-label>{{ button.name }}</ion-label>
        </ion-button>
    </ion-item>
</ion-list>

