

.navbar__link__title{
    text-decoration: none;
    
}

.products__popover__home{

    top: 12px;
    left: -10px;
    .products__popover__template{
        width: 300px;
    }
    

}
.ocom__public__view__content{
    position: absolute;
    top: 10%;
}
