<div id="<%= dom_id ocom_menu %>">
  <p>
    <strong>Name:</strong>
    <%= ocom_menu.name %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= ocom_menu.parent_id %>
  </p>

  <p>
    <strong>Redirect to:</strong>
    <%= ocom_menu.redirect_to %>
  </p>

</div>
