<h1>Editing ocom menu</h1>

<%= render "form", ocom_menu: @ocom_menu %>

<br>

<div>
  <%= link_to "Show this ocom menu", @ocom_menu %> |
  <%= link_to "Back to ocom menus", ocom_menus_path %>
</div>
