
<ion-button id="show__shoppingcart">
    <ion-icon slot="icon-only" name="cart"></ion-icon>
    <ion-badge color="defaut" *ngIf="shopCartS.current_cart.length>0">
        {{ shopCartS.current_cart.length }}
    </ion-badge>

</ion-button>
<ion-popover    class="products__popover__home" trigger="show__shoppingcart" showBackdrop="false" side="bottom" alignment="start">
    <ng-template class="products__popover__template">
        <ion-list  lines="none" *ngIf="shopCartS.current_cart.length>0">
            <ion-button style="width: 90%;padding-left: 1rem;" fill="outline"  expand="block" color="primary" shape="round">Checkout</ion-button>
                <br>
            <ion-item   *ngFor="let cart of shopCartS.current_cart">
                <ion-thumbnail>
                    <a  href="/product/{{cart.id}}"><img [src]="cart.image"></a>
                </ion-thumbnail>
                <a class="no__decoration__link" href="/product/{{cart.id}}">
                    <ion-label  style="padding-left: 1rem;">
                        {{cart.name}}<br>
                        <small>
                            <ion-text color="secondary">
                                Quantity {{cart.quantity ?? '1'}}
                            </ion-text>
                            
                            <ion-label color="secondary">
                                {{cart.price}} {{cart.currency ?? 'USD'}}
                            </ion-label>
                            
                        </small>
                    </ion-label>
                </a>
                
                <ion-button (click)="removeFromCart(cart)" fill="clear" shape="round" color="danger">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </ion-item>
            <hr>
            <ion-button style="width: 90%;padding-left: 1rem;"  color="default" fill="clear" shape="round">View and modify cart</ion-button>

        </ion-list>
        <ion-list color="default" lines="none" *ngIf="shopCartS.current_cart.length==0">
            <ion-item  button [href]="'/cart'">
                <ion-label>Your cart is empty</ion-label>
            </ion-item>
        </ion-list>

    </ng-template>
  </ion-popover>
